<%- include ('../../partials/header') %> 
<%- include ('../../partials/adminNavBar') %> 

<div class="container ">
    <h2 class="m-4 ">Cadastro de Cliente</h2>
    <form class="m-4 " action="/clients/save" method="post">
        <div class="form-group">
          <label for="nome">Nome do Cliente</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do cliente">
        </div>
        <div class="row">
            <div class="col">
              <label for="cpf">CPF</label>
              <input type="text" class="form-control" placeholder="CPF" id="cpf" name="cpf">
            </div>
            <div class="col">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" placeholder="Telefone"  id="telefone" name="telefone">
            </div>
        </div>
        <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço">
        </div>
        <button type="submit" class="btn btn-success ">Cadastrar Cliente</button>
        <a href="/admin/clients" class="btn btn-danger ">Cancelar</a> 
    </form>
</div>

<%- include ('../../partials/footer') %> 
